body{
    p{
        margin-bottom: 0.5rem;
    }
}
a{
    text-decoration: none
}

ul{
    margin-bottom: 0rem;
    list-style-type: none !important;
}

li{

    list-style-type: none !important;
}