.container-single-order{
    background-color: #e7e7e740 !important;
    border: 2px solid black !important; 
    margin-bottom: 3rem;
    margin-top: 3rem;
    border-radius: 2%;
  
}

.container-single-element{
    border-radius: 2%;
    border: 0px !important;
    flex-direction: column !important;

}